.header {
    height: 40px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.siteTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #eee;
    margin: 0;
    padding: 0;
}

.siteTitle:hover {
    color: #aaa;
}

.navIcon {
    height: 70%;
    cursor: pointer;
}

@media (max-width: 640px) {
    .siteTitle {
        font-size: 24px;
    }

    .header  {
        width: calc(100% - 20px);
    }

    .navIcon {
        height: 60%;
    }
}