.container {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 0 auto;
    position: fixed;
    bottom: 0px;
    right: 20px;
    opacity: 1;
    transition: all 0.5s ease 0s;
}