.container {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 0 auto;
    position: fixed;
    bottom: 0px;
    transition: all 0.5s ease 0s;
    overflow: auto;
}

@media (max-width: 640px) {
    .container {
        width: calc(100% - 20px);
    }
}