.unorderedList {
    margin: 0;
    padding: 0;
}

.listItem {
    margin-top: 16px;
    list-style-type: none;
    color: #ccc;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: flex-start;
}

.checkmark {
    height: 24px;
    width: auto;
    margin-right: 16px;
}